%li.project{id: dom_id(project)}
  %h4= project.name
  - if project.description.present?
    %p= project.description
  %dl.dl-horizontal
    - if project.url.present?
      %dt URL
      %dd= link_to project.url, project.url, target: '_blank'
    - if project.github_url.present?
      %dt GitHub
      %dd= link_to project.github_url, project.github_url, target: '_blank'
    - if project.tags.present?
      %dt Tags
      %dd
        - project.tags.each do |tag|
          = link_to tag.name, by_tag_projects_path(tag: tag.name)
    - if project.has_cocoapod?
      %dt Has Cocoapod
      %dd "Yes"
