= form_for @project, method: :post do |f|

  .control-group  
    = f.label :category_id
    = f.select :category_id, @categories_for_select

  .control-group
    = f.label :name
    = f.text_field :name

  .control-group
    = f.label :url
    = f.text_field :url

  .control-group
    = f.submit class: 'btn btn-primary'
